---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.list
    body:
      encoding: UTF-8
      string: token=xoxp-1111111111-2222222222-33333333333-4444444444
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps,admin
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "ok": true,
          "members": [
            {
              "id": "U42424242",
              "team_id": "T42424242",
              "name": "alice",
              "deleted": false,
              "status": null,
              "color": "9f69e7",
              "real_name": "Alice Liddell",
              "tz": "Asia/Tokyo",
              "tz_label": "Japan Standard Time",
              "tz_offset": 32400,
              "profile": {
                "avatar_hash": "424242424242",
                "real_name": "",
                "real_name_normalized": "",
                "email": "alice@example.com",
                "image_24": "https://avatars.slack-edge.com/2015-10-15/66666666666666666666666666666666_24.jpg",
                "image_32": "https://avatars.slack-edge.com/2015-10-15/66666666666666666666666666666666_32.jpg",
                "image_48": "https://avatars.slack-edge.com/2015-10-15/66666666666666666666666666666666_48.jpg",
                "image_72": "https://avatars.slack-edge.com/2015-10-15/66666666666666666666666666666666_72.jpg",
                "image_192": "https://avatars.slack-edge.com/2015-10-15/66666666666666666666666666666666_192.jpg",
                "image_512": "https://avatars.slack-edge.com/2015-10-15/66666666666666666666666666666666_192.jpg",
                "image_1024": "https://avatars.slack-edge.com/2015-10-15/66666666666666666666666666666666_192.jpg",
                "image_original": "https://avatars.slack-edge.com/2015-10-15/66666666666666666666666666666666_original.jpg"
              },
              "is_admin": true,
              "is_owner": true,
              "is_primary_owner": true,
              "is_restricted": false,
              "is_ultra_restricted": false,
              "is_bot": false,
              "has_2fa": false
            },
            {
              "id": "U66666666",
              "team_id": "T66666666",
              "name": "madhatter",
              "deleted": false,
              "status": null,
              "color": "9f69e7",
              "real_name": "The Mad Hatter",
              "tz": "Asia/Tokyo",
              "tz_label": "Japan Standard Time",
              "tz_offset": 32400,
              "profile": {
                "avatar_hash": "666666666666",
                "real_name"[...]
