html {
  font-size: 14px;
}

body {
  color: #3b3b3b;
  font-family: 'Lato', 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 300;
  line-height: 1.8;
}

p {
  font-size: 1rem;
}
