html {
  font-size: 14px;
}

body {
  font-family: Lato, Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

main {
  margin-top: 40px;
}

i {
  margin-right: 0.5rem;
}

.btn-danger {
  background-color: darken($ninjin, 5%);

  &:hover {
    background-color: $ninjin;
  }
}
