#editor {
  border-right: 1px solid $border-gray;
  margin-top: 20px;
  padding-right: 1.8rem;
}

.post-card {
  margin-top: 30px;
}

.card-content {
  height: 150px;
  overflow: hidden;
}

.card-title {
  a {
    color: $white;

    &:hover {
      color: $link-color;
    }
  }
}

.card-body {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1rem;
  }
}

.post {
  %post-headline-common {
    font-weight: bold;
    margin: 2rem 0;
  }

  %post-list-common {
    padding-left: 2rem;
  }

  h1 {
    @extend %post-headline-common;
    font-size: 2.4rem;
    line-height: 1.5;
  }

  h2 {
    @extend %post-headline-common;
    font-size: 1.4rem;
    line-height: 1.4;
  }

  h3 {
    @extend %post-headline-common;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  h4 {
    @extend %post-headline-common;
    font-size: 1rem;
    line-height: 1.5;
  }

  ul {
    @extend %post-list-common;

    li {
      list-style-type: disc;
    }
  }

  ol {
    @extend %post-list-common;
  }
}

.author {
  border-top: 1px solid $border-gray;
  padding: 1.5rem 0;
  text-align: right;
}

.author__nickname {
  font-size: .9rem
}

.author__created_at {
  font-size: .8rem
}
