.login-screen {
  background-color: $ninjin;
  background-image: url('kawaiichan-bg.png');
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;

  .login-screen__logo {
    font-size: 5rem;
  }

  .login-screen__login-link {
    color: $white;
    font-size: 2rem;

    &:hover {
      color: $link-blue;
    }
  }
}

