@import url(https://fonts.googleapis.com/css?family=Lato);

@import 'font-awesome';
@import 'materialize';

@import 'variables';
@import 'base';
@import 'flash_message';

.login {
  background-color: $ninjin;
  background-image: image-url('kawaiichan-bg.png');
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;

  .login__logo {
    font-size: 5rem;
  }

  .login__login-link {
    color: $white;
    font-size: 2rem;

    &:hover {
      color: $link-blue;
    }
  }
}
